
<h2>Employee list</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email id</th>
    <th>Actions</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.firstname}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.emailId}}</td>
    <td><button (click)="update(employee.id)" class="btn btn-info">
      Update
    </button>
    <button (click)="delete(employee.id)" class="btn btn-danger" style="margin-left: 10px">
      Delete
    </button></td>
  </tr>
  </tbody>
</table>
