<div class="col-md-12 offset-lg-0" >
<h3>Create Employee</h3>
<form (submit)="onSubmit()">

<div class="">
  <label>First Name</label>
  <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstname" name="firstName">
</div>
  <br>
  <div class="">
    <label>Last Name</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
  </div>
  <br>
  <div class="">
    <label>Email Id</label>
    <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
  </div>
  <br>
  <button class="btn btn-success" type="submit" >Submit</button>
</form>
</div>
